## Build a Regression Model in Keras (A)

In [1]:
import pandas as pd
import numpy as np

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [2]:
df=pd.read_csv("concrete_data.csv")
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Let's check how many data points we have.

In [3]:
df.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. 
Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [7]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data is ready to be used to build our model.

### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [9]:
concrete_data_columns = df.columns
predictors = df[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = df['Strength']

Let's do a check of the predictors and the target dataframes.

In [10]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [13]:
n_cols=predictors_norm.shape[1]
n_cols

8

### Import Keras

In [14]:
import keras

In [15]:
from keras.models import Sequential
from keras.layers import Dense

In [16]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The regression_model function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [17]:
from sklearn.model_selection import train_test_split

Randomly splitting the data into a training and test sets by holding 30% of the data for testing

In [18]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### Train the Model

Let's create our model.

In [19]:
# build the model
model = regression_model()

Train the model on the training data using 50 epochs.

In [20]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 1ms/step - loss: 1507.7533
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 1491.3955
Epoch 3/50
23/23 [==============================] - 0s 931us/step - loss: 1474.4178
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 1456.4490
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 1437.4714
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 1417.4454
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 1396.1115
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 1373.3788
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 1349.1237
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 1323.4474
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 1296.1190
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 1266.8832
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 1236.4897
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 1203.8751
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 1169.9340
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 1134.2870
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 1097.8043
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 1060.0728
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 1021.2910
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 982.5543
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 942.7745
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 903.8284
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 864.2533
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 825.4292
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 786.9341
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 749.6212
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 712.6592
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 677.8976
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 643.7323
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 611.2183
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 579.9364
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 550.2052
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 521.9124
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 495.1992
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 470.6060
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 446.8010
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 425.3761
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 405.4154
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 386.7545
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 369.4429
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 353.8765
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 339.2688
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 326.1385
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 314.1578
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 303.3118
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 293.2308
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 284.4484
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 276.1770
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 268.7878
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 261.7906

Evaluate the model on the test data

In [21]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 242.2940
10/10 [==============================] - 0s 1ms/step

242.2939910888672

In [22]:
from sklearn.metrics import mean_squared_error

Compute the mean_squared_error between the predict concrete strength and the actual concrete strength

In [23]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

242.2940002023023 0.0

Create a list of 50 mean squared errors  and report mean and the standard deviation of the mean squared errors

In [24]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 141.3468017578125
10/10 [==============================] - 0s 1ms/step
MSE 2: 142.78341674804688
10/10 [==============================] - 0s 2ms/step
MSE 3: 101.7087631225586
10/10 [==============================] - 0s 1ms/step
MSE 4: 96.55912780761719
10/10 [==============================] - 0s 2ms/step
MSE 5: 87.07420349121094
10/10 [==============================] - 0s 1ms/step
MSE 6: 84.63990783691406
10/10 [==============================] - 0s 1ms/step
MSE 7: 87.24091339111328
10/10 [==============================] - 0s 1ms/step
MSE 8: 69.85945892333984
10/10 [==============================] - 0s 2ms/step
MSE 9: 71.36014556884766
10/10 [==============================] - 0s 1ms/step
MSE 10: 61.299137115478516
10/10 [==============================] - 0s 1ms/step
MSE 11: 57.55650329589844
10/10 [==============================] - 0s 1ms/step
MSE 12: 53.530364990234375
10/10 [==============================] - 0s 1ms/step
MSE 13: 59.90700912475586
10/10 [==============================] - 0s 1ms/step
MSE 14: 53.951053619384766
10/10 [==============================] - 0s 2ms/step
MSE 15: 47.50260543823242
10/10 [==============================] - 0s 1ms/step
MSE 16: 39.693603515625
10/10 [==============================] - 0s 1ms/step
MSE 17: 43.71796798706055
10/10 [==============================] - 0s 931us/step
MSE 18: 41.58518600463867
10/10 [==============================] - 0s 1ms/step
MSE 19: 41.19272994995117
10/10 [==============================] - 0s 1ms/step
MSE 20: 42.897003173828125
10/10 [==============================] - 0s 1ms/step
MSE 21: 40.62035369873047
10/10 [==============================] - 0s 2ms/step
MSE 22: 40.5488395690918
10/10 [==============================] - 0s 1ms/step
MSE 23: 38.46042251586914
10/10 [==============================] - 0s 1ms/step
MSE 24: 40.988548278808594
10/10 [==============================] - 0s 1ms/step
MSE 25: 43.79781723022461
10/10 [==============================] - 0s 2ms/step
MSE 26: 43.08354187011719
10/10 [==============================] - 0s 1ms/step
MSE 27: 40.883846282958984
10/10 [==============================] - 0s 1ms/step
MSE 28: 40.52485275268555
10/10 [==============================] - 0s 1ms/step
MSE 29: 46.55608367919922
10/10 [==============================] - 0s 941us/step
MSE 30: 43.806697845458984
10/10 [==============================] - 0s 1ms/step
MSE 31: 41.86607360839844
10/10 [==============================] - 0s 1ms/step
MSE 32: 39.52911376953125
10/10 [==============================] - 0s 1ms/step
MSE 33: 38.726959228515625
10/10 [==============================] - 0s 1ms/step
MSE 34: 44.18952941894531
10/10 [==============================] - 0s 1ms/step
MSE 35: 41.89140319824219
10/10 [==============================] - 0s 1ms/step
MSE 36: 47.175167083740234
10/10 [==============================] - 0s 1ms/step
MSE 37: 41.864654541015625
10/10 [==============================] - 0s 1ms/step
MSE 38: 45.62808609008789
10/10 [==============================] - 0s 996us/step
MSE 39: 42.71072769165039
10/10 [==============================] - 0s 1ms/step
MSE 40: 39.011268615722656
10/10 [==============================] - 0s 1ms/step
MSE 41: 45.418636322021484
10/10 [==============================] - 0s 1ms/step
MSE 42: 38.975685119628906
10/10 [==============================] - 0s 2ms/step
MSE 43: 40.913978576660156
10/10 [==============================] - 0s 1ms/step
MSE 44: 47.1453971862793
10/10 [==============================] - 0s 1ms/step
MSE 45: 46.68206787109375
10/10 [==============================] - 0s 1ms/step
MSE 46: 47.30262756347656
10/10 [==============================] - 0s 1ms/step
MSE 47: 42.45851516723633
10/10 [==============================] - 0s 889us/step
MSE 48: 43.217464447021484
10/10 [==============================] - 0s 1ms/step
MSE 49: 44.945682525634766
10/10 [==============================] - 0s 1ms/step
MSE 50: 48.145973205566406
10/10 [==============================] - 0s 1ms/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 54.249518753654
Standard Deviation: 23.714695976381133