## Build a Regression Model in Keras (C)

In [92]:
import pandas as pd
import numpy as np

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [93]:
df=pd.read_csv("concrete_data.csv")
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Let's check how many data points we have.

In [94]:
df.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. 
Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [95]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [96]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data is ready to be used to build our model.

### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [97]:
concrete_data_columns = df.columns
predictors = df[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = df['Strength']

Let's do a check of the predictors and the target dataframes.

In [98]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [99]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation

In [100]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [101]:
n_cols=predictors_norm.shape[1]
n_cols

8

### Import Keras

In [102]:
import keras

In [103]:
from keras.models import Sequential
from keras.layers import Dense

In [104]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The regression_model function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [105]:
from sklearn.model_selection import train_test_split

Randomly splitting the data into a training and test sets by holding 30% of the data for testing

In [106]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### Train the Model

Let's create our model.

In [107]:
# build the model
model = regression_model()

Train the model on the training data using 100 epochs.

In [108]:
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/100
23/23 [==============================] - 0s 1ms/step - loss: 1592.0492
Epoch 2/100
23/23 [==============================] - 0s 1ms/step - loss: 1575.3895
Epoch 3/100
23/23 [==============================] - 0s 1ms/step - loss: 1558.7950
Epoch 4/100
23/23 [==============================] - 0s 1ms/step - loss: 1541.7545
Epoch 5/100
23/23 [==============================] - 0s 1ms/step - loss: 1524.5636
Epoch 6/100
23/23 [==============================] - 0s 1ms/step - loss: 1507.0203
Epoch 7/100
23/23 [==============================] - 0s 933us/step - loss: 1488.9087
Epoch 8/100
23/23 [==============================] - 0s 1ms/step - loss: 1470.1073
Epoch 9/100
23/23 [==============================] - 0s 944us/step - loss: 1450.9132
Epoch 10/100
23/23 [==============================] - 0s 922us/step - loss: 1430.7131
Epoch 11/100
23/23 [==============================] - 0s 895us/step - loss: 1409.7131
Epoch 12/100
23/23 [==============================] - 0s 894us/step - loss: 1387.6870
Epoch 13/100
23/23 [==============================] - 0s 890us/step - loss: 1364.6383
Epoch 14/100
23/23 [==============================] - 0s 1ms/step - loss: 1340.5720
Epoch 15/100
23/23 [==============================] - 0s 941us/step - loss: 1315.3140
Epoch 16/100
23/23 [==============================] - 0s 889us/step - loss: 1289.2065
Epoch 17/100
23/23 [==============================] - 0s 951us/step - loss: 1262.0145
Epoch 18/100
23/23 [==============================] - 0s 1ms/step - loss: 1234.4279
Epoch 19/100
23/23 [==============================] - 0s 898us/step - loss: 1205.7747
Epoch 20/100
23/23 [==============================] - 0s 854us/step - loss: 1176.3254
Epoch 21/100
23/23 [==============================] - 0s 883us/step - loss: 1146.5710
Epoch 22/100
23/23 [==============================] - 0s 1ms/step - loss: 1116.7091
Epoch 23/100
23/23 [==============================] - 0s 892us/step - loss: 1086.1412
Epoch 24/100
23/23 [==============================] - 0s 894us/step - loss: 1055.7155
Epoch 25/100
23/23 [==============================] - 0s 940us/step - loss: 1024.8815
Epoch 26/100
23/23 [==============================] - 0s 1ms/step - loss: 994.4645
Epoch 27/100
23/23 [==============================] - 0s 912us/step - loss: 964.2357
Epoch 28/100
23/23 [==============================] - 0s 988us/step - loss: 934.7072
Epoch 29/100
23/23 [==============================] - 0s 1ms/step - loss: 904.8114
Epoch 30/100
23/23 [==============================] - 0s 992us/step - loss: 875.8607
Epoch 31/100
23/23 [==============================] - 0s 909us/step - loss: 847.5464
Epoch 32/100
23/23 [==============================] - 0s 876us/step - loss: 819.3440
Epoch 33/100
23/23 [==============================] - 0s 941us/step - loss: 792.3061
Epoch 34/100
23/23 [==============================] - 0s 971us/step - loss: 765.4812
Epoch 35/100
23/23 [==============================] - 0s 931us/step - loss: 740.3782
Epoch 36/100
23/23 [==============================] - 0s 879us/step - loss: 715.3965
Epoch 37/100
23/23 [==============================] - 0s 908us/step - loss: 690.9449
Epoch 38/100
23/23 [==============================] - 0s 937us/step - loss: 667.5553
Epoch 39/100
23/23 [==============================] - 0s 1ms/step - loss: 645.1557
Epoch 40/100
23/23 [==============================] - 0s 877us/step - loss: 623.5518
Epoch 41/100
23/23 [==============================] - 0s 877us/step - loss: 602.3211
Epoch 42/100
23/23 [==============================] - 0s 940us/step - loss: 582.3203
Epoch 43/100
23/23 [==============================] - 0s 864us/step - loss: 562.7590
Epoch 44/100
23/23 [==============================] - 0s 943us/step - loss: 543.7476
Epoch 45/100
23/23 [==============================] - 0s 940us/step - loss: 525.6745
Epoch 46/100
23/23 [==============================] - 0s 925us/step - loss: 508.4846
Epoch 47/100
23/23 [==============================] - 0s 962us/step - loss: 491.9748
Epoch 48/100
23/23 [==============================] - 0s 1ms/step - loss: 475.6521
Epoch 49/100
23/23 [==============================] - 0s 2ms/step - loss: 460.3349
Epoch 50/100
23/23 [==============================] - 0s 1ms/step - loss: 445.1937
Epoch 51/100
23/23 [==============================] - 0s 1ms/step - loss: 430.9376
Epoch 52/100
23/23 [==============================] - 0s 1ms/step - loss: 416.7572
Epoch 53/100
23/23 [==============================] - 0s 1ms/step - loss: 403.6875
Epoch 54/100
23/23 [==============================] - 0s 1ms/step - loss: 390.6137
Epoch 55/100
23/23 [==============================] - 0s 1ms/step - loss: 378.1994
Epoch 56/100
23/23 [==============================] - 0s 938us/step - loss: 366.2806
Epoch 57/100
23/23 [==============================] - 0s 2ms/step - loss: 354.6807
Epoch 58/100
23/23 [==============================] - 0s 932us/step - loss: 343.8311
Epoch 59/100
23/23 [==============================] - 0s 917us/step - loss: 333.1823
Epoch 60/100
23/23 [==============================] - 0s 1ms/step - loss: 323.0099
Epoch 61/100
23/23 [==============================] - 0s 1ms/step - loss: 313.2550
Epoch 62/100
23/23 [==============================] - 0s 922us/step - loss: 303.9904
Epoch 63/100
23/23 [==============================] - 0s 970us/step - loss: 295.1022
Epoch 64/100
23/23 [==============================] - 0s 863us/step - loss: 286.3600
Epoch 65/100
23/23 [==============================] - 0s 876us/step - loss: 278.2161
Epoch 66/100
23/23 [==============================] - 0s 894us/step - loss: 270.3359
Epoch 67/100
23/23 [==============================] - 0s 802us/step - loss: 262.8611
Epoch 68/100
23/23 [==============================] - 0s 895us/step - loss: 255.8968
Epoch 69/100
23/23 [==============================] - 0s 850us/step - loss: 248.8359
Epoch 70/100
23/23 [==============================] - 0s 860us/step - loss: 242.5810
Epoch 71/100
23/23 [==============================] - 0s 2ms/step - loss: 236.4222
Epoch 72/100
23/23 [==============================] - 0s 1ms/step - loss: 230.4624
Epoch 73/100
23/23 [==============================] - 0s 1ms/step - loss: 225.0607
Epoch 74/100
23/23 [==============================] - 0s 1ms/step - loss: 219.6678
Epoch 75/100
23/23 [==============================] - 0s 916us/step - loss: 214.9243
Epoch 76/100
23/23 [==============================] - 0s 944us/step - loss: 210.2169
Epoch 77/100
23/23 [==============================] - 0s 1ms/step - loss: 205.9502
Epoch 78/100
23/23 [==============================] - 0s 1ms/step - loss: 201.7752
Epoch 79/100
23/23 [==============================] - 0s 1ms/step - loss: 198.1006
Epoch 80/100
23/23 [==============================] - 0s 1ms/step - loss: 194.5592
Epoch 81/100
23/23 [==============================] - 0s 978us/step - loss: 191.3135
Epoch 82/100
23/23 [==============================] - 0s 895us/step - loss: 188.2370
Epoch 83/100
23/23 [==============================] - 0s 988us/step - loss: 185.2139
Epoch 84/100
23/23 [==============================] - 0s 926us/step - loss: 182.5404
Epoch 85/100
23/23 [==============================] - 0s 915us/step - loss: 180.0027
Epoch 86/100
23/23 [==============================] - 0s 1ms/step - loss: 177.6641
Epoch 87/100
23/23 [==============================] - 0s 849us/step - loss: 175.4755
Epoch 88/100
23/23 [==============================] - 0s 1ms/step - loss: 173.3387
Epoch 89/100
23/23 [==============================] - 0s 1ms/step - loss: 171.4678
Epoch 90/100
23/23 [==============================] - 0s 1ms/step - loss: 169.7373
Epoch 91/100
23/23 [==============================] - 0s 1ms/step - loss: 168.0308
Epoch 92/100
23/23 [==============================] - 0s 1ms/step - loss: 166.4518
Epoch 93/100
23/23 [==============================] - 0s 939us/step - loss: 164.9960
Epoch 94/100
23/23 [==============================] - 0s 946us/step - loss: 163.6272
Epoch 95/100
23/23 [==============================] - 0s 882us/step - loss: 162.2748
Epoch 96/100
23/23 [==============================] - 0s 1ms/step - loss: 161.0354
Epoch 97/100
23/23 [==============================] - 0s 845us/step - loss: 159.8763
Epoch 98/100
23/23 [==============================] - 0s 888us/step - loss: 158.7436
Epoch 99/100
23/23 [==============================] - 0s 869us/step - loss: 157.6690
Epoch 100/100
23/23 [==============================] - 0s 843us/step - loss: 156.6294

Evaluate the model on the test data

In [109]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 786us/step - loss: 150.2148
10/10 [==============================] - 0s 880us/step

150.21481323242188

In [110]:
from sklearn.metrics import mean_squared_error

Compute the mean_squared_error between the predict concrete strength and the actual concrete strength

In [111]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

150.2148204281324 0.0

Create a list of 50 mean squared errors  and report mean and the standard deviation of the mean squared errors

In [112]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 83.54718017578125
10/10 [==============================] - 0s 794us/step
MSE 2: 69.39773559570312
10/10 [==============================] - 0s 854us/step
MSE 3: 42.583858489990234
10/10 [==============================] - 0s 745us/step
MSE 4: 44.410213470458984
10/10 [==============================] - 0s 782us/step
MSE 5: 41.792755126953125
10/10 [==============================] - 0s 1ms/step
MSE 6: 44.145423889160156
10/10 [==============================] - 0s 763us/step
MSE 7: 46.41757583618164
10/10 [==============================] - 0s 896us/step
MSE 8: 35.427207946777344
10/10 [==============================] - 0s 1ms/step
MSE 9: 37.32645797729492
10/10 [==============================] - 0s 846us/step
MSE 10: 37.40609359741211
10/10 [==============================] - 0s 918us/step
MSE 11: 37.63352966308594
10/10 [==============================] - 0s 775us/step
MSE 12: 35.084381103515625
10/10 [==============================] - 0s 1ms/step
MSE 13: 41.408843994140625
10/10 [==============================] - 0s 929us/step
MSE 14: 42.18909454345703
10/10 [==============================] - 0s 1ms/step
MSE 15: 36.36815643310547
10/10 [==============================] - 0s 871us/step
MSE 16: 30.174501419067383
10/10 [==============================] - 0s 979us/step
MSE 17: 36.36082458496094
10/10 [==============================] - 0s 977us/step
MSE 18: 34.35313034057617
10/10 [==============================] - 0s 799us/step
MSE 19: 37.57710266113281
10/10 [==============================] - 0s 1ms/step
MSE 20: 38.101036071777344
10/10 [==============================] - 0s 1ms/step
MSE 21: 31.962278366088867
10/10 [==============================] - 0s 1ms/step
MSE 22: 33.42695236206055
10/10 [==============================] - 0s 1ms/step
MSE 23: 31.17271614074707
10/10 [==============================] - 0s 2ms/step
MSE 24: 33.716854095458984
10/10 [==============================] - 0s 888us/step
MSE 25: 35.918209075927734
10/10 [==============================] - 0s 869us/step
MSE 26: 39.77471923828125
10/10 [==============================] - 0s 979us/step
MSE 27: 32.77723693847656
10/10 [==============================] - 0s 889us/step
MSE 28: 32.71564483642578
10/10 [==============================] - 0s 989us/step
MSE 29: 35.96538543701172
10/10 [==============================] - 0s 958us/step
MSE 30: 36.242637634277344
10/10 [==============================] - 0s 965us/step
MSE 31: 34.040985107421875
10/10 [==============================] - 0s 966us/step
MSE 32: 30.450368881225586
10/10 [==============================] - 0s 1ms/step
MSE 33: 30.138261795043945
10/10 [==============================] - 0s 1ms/step
MSE 34: 32.00181579589844
10/10 [==============================] - 0s 889us/step
MSE 35: 33.631465911865234
10/10 [==============================] - 0s 890us/step
MSE 36: 38.938560485839844
10/10 [==============================] - 0s 889us/step
MSE 37: 29.17086410522461
10/10 [==============================] - 0s 778us/step
MSE 38: 34.731788635253906
10/10 [==============================] - 0s 806us/step
MSE 39: 31.203866958618164
10/10 [==============================] - 0s 945us/step
MSE 40: 27.57291603088379
10/10 [==============================] - 0s 778us/step
MSE 41: 36.17852783203125
10/10 [==============================] - 0s 1ms/step
MSE 42: 33.20341873168945
10/10 [==============================] - 0s 975us/step
MSE 43: 32.99542236328125
10/10 [==============================] - 0s 971us/step
MSE 44: 33.674896240234375
10/10 [==============================] - 0s 945us/step
MSE 45: 34.9023551940918
10/10 [==============================] - 0s 1ms/step
MSE 46: 35.92778015136719
10/10 [==============================] - 0s 889us/step
MSE 47: 33.862403869628906
10/10 [==============================] - 0s 895us/step
MSE 48: 32.09101486206055
10/10 [==============================] - 0s 991us/step
MSE 49: 33.618099212646484
10/10 [==============================] - 0s 818us/step
MSE 50: 34.50743865966797
10/10 [==============================] - 0s 898us/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 100

Mean: 37.164399513722486
Standard Deviation: 9.08787572252088