## Build a Regression Model in Keras (B)

In [1]:
import pandas as pd
import numpy as np

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [2]:
df=pd.read_csv("concrete_data.csv")
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Let's check how many data points we have.

In [3]:
df.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. 
Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [7]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data is ready to be used to build our model.

### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [9]:
concrete_data_columns = df.columns
predictors = df[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = df['Strength']

Let's do a check of the predictors and the target dataframes.

In [10]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation

In [25]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [27]:
n_cols=predictors_norm.shape[1]
n_cols

8

### Import Keras

In [28]:
import keras

In [29]:
from keras.models import Sequential
from keras.layers import Dense

In [30]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The regression_model function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [31]:
from sklearn.model_selection import train_test_split

Randomly splitting the data into a training and test sets by holding 30% of the data for testing

In [32]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### Train the Model

Let's create our model.

In [33]:
# build the model
model = regression_model()

Train the model on the training data using 50 epochs.

In [34]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 945us/step - loss: 1595.8495
Epoch 2/50
23/23 [==============================] - 0s 903us/step - loss: 1579.3392
Epoch 3/50
23/23 [==============================] - 0s 845us/step - loss: 1562.6980
Epoch 4/50
23/23 [==============================] - 0s 894us/step - loss: 1546.0272
Epoch 5/50
23/23 [==============================] - 0s 856us/step - loss: 1528.7233
Epoch 6/50
23/23 [==============================] - 0s 875us/step - loss: 1511.1748
Epoch 7/50
23/23 [==============================] - 0s 843us/step - loss: 1493.1589
Epoch 8/50
23/23 [==============================] - 0s 780us/step - loss: 1474.1439
Epoch 9/50
23/23 [==============================] - 0s 848us/step - loss: 1454.8350
Epoch 10/50
23/23 [==============================] - 0s 886us/step - loss: 1434.2163
Epoch 11/50
23/23 [==============================] - 0s 810us/step - loss: 1413.0692
Epoch 12/50
23/23 [==============================] - 0s 875us/step - loss: 1391.4517
Epoch 13/50
23/23 [==============================] - 0s 894us/step - loss: 1368.4211
Epoch 14/50
23/23 [==============================] - 0s 989us/step - loss: 1344.7582
Epoch 15/50
23/23 [==============================] - 0s 861us/step - loss: 1320.3090
Epoch 16/50
23/23 [==============================] - 0s 958us/step - loss: 1294.8070
Epoch 17/50
23/23 [==============================] - 0s 850us/step - loss: 1268.9259
Epoch 18/50
23/23 [==============================] - 0s 841us/step - loss: 1242.1306
Epoch 19/50
23/23 [==============================] - 0s 808us/step - loss: 1214.5334
Epoch 20/50
23/23 [==============================] - 0s 878us/step - loss: 1186.4750
Epoch 21/50
23/23 [==============================] - 0s 849us/step - loss: 1157.0239
Epoch 22/50
23/23 [==============================] - 0s 807us/step - loss: 1127.6349
Epoch 23/50
23/23 [==============================] - 0s 871us/step - loss: 1097.2885
Epoch 24/50
23/23 [==============================] - 0s 849us/step - loss: 1066.0865
Epoch 25/50
23/23 [==============================] - 0s 848us/step - loss: 1034.5922
Epoch 26/50
23/23 [==============================] - 0s 808us/step - loss: 1002.7281
Epoch 27/50
23/23 [==============================] - 0s 895us/step - loss: 970.8183
Epoch 28/50
23/23 [==============================] - 0s 892us/step - loss: 938.8475
Epoch 29/50
23/23 [==============================] - 0s 824us/step - loss: 906.7029
Epoch 30/50
23/23 [==============================] - 0s 937us/step - loss: 874.6951
Epoch 31/50
23/23 [==============================] - 0s 985us/step - loss: 843.1550
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 812.0154
Epoch 33/50
23/23 [==============================] - 0s 909us/step - loss: 781.2424
Epoch 34/50
23/23 [==============================] - 0s 895us/step - loss: 751.1696
Epoch 35/50
23/23 [==============================] - 0s 894us/step - loss: 721.9556
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 693.4271
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 665.8740
Epoch 38/50
23/23 [==============================] - 0s 969us/step - loss: 639.4578
Epoch 39/50
23/23 [==============================] - 0s 987us/step - loss: 613.8646
Epoch 40/50
23/23 [==============================] - 0s 942us/step - loss: 589.1137
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 565.9014
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 543.2733
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 521.9279
Epoch 44/50
23/23 [==============================] - 0s 869us/step - loss: 501.4359
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 482.2614
Epoch 46/50
23/23 [==============================] - 0s 914us/step - loss: 463.8366
Epoch 47/50
23/23 [==============================] - 0s 938us/step - loss: 446.7496
Epoch 48/50
23/23 [==============================] - 0s 869us/step - loss: 430.2516
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 414.7116
Epoch 50/50
23/23 [==============================] - 0s 845us/step - loss: 400.4102

Evaluate the model on the test data

In [35]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 915us/step - loss: 403.8485
10/10 [==============================] - 0s 892us/step

403.8485107421875

In [36]:
from sklearn.metrics import mean_squared_error

Compute the mean_squared_error between the predict concrete strength and the actual concrete strength

In [37]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

403.84854314123425 0.0

Create a list of 50 mean squared errors  and report mean and the standard deviation of the mean squared errors

In [38]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 152.1336669921875
10/10 [==============================] - 0s 919us/step
MSE 2: 152.1161346435547
10/10 [==============================] - 0s 842us/step
MSE 3: 91.62457275390625
10/10 [==============================] - 0s 905us/step
MSE 4: 74.1259765625
10/10 [==============================] - 0s 752us/step
MSE 5: 57.72782516479492
10/10 [==============================] - 0s 889us/step
MSE 6: 56.269657135009766
10/10 [==============================] - 0s 855us/step
MSE 7: 52.201316833496094
10/10 [==============================] - 0s 992us/step
MSE 8: 39.488975524902344
10/10 [==============================] - 0s 790us/step
MSE 9: 42.229557037353516
10/10 [==============================] - 0s 940us/step
MSE 10: 44.02722930908203
10/10 [==============================] - 0s 1ms/step
MSE 11: 38.85687255859375
10/10 [==============================] - 0s 959us/step
MSE 12: 37.88656997680664
10/10 [==============================] - 0s 951us/step
MSE 13: 44.983978271484375
10/10 [==============================] - 0s 939us/step
MSE 14: 43.00558853149414
10/10 [==============================] - 0s 843us/step
MSE 15: 39.62437057495117
10/10 [==============================] - 0s 1ms/step
MSE 16: 35.399009704589844
10/10 [==============================] - 0s 911us/step
MSE 17: 38.094329833984375
10/10 [==============================] - 0s 779us/step
MSE 18: 35.95624923706055
10/10 [==============================] - 0s 890us/step
MSE 19: 35.77860641479492
10/10 [==============================] - 0s 957us/step
MSE 20: 35.030555725097656
10/10 [==============================] - 0s 1ms/step
MSE 21: 33.90412139892578
10/10 [==============================] - 0s 805us/step
MSE 22: 32.13026428222656
10/10 [==============================] - 0s 2ms/step
MSE 23: 32.66349792480469
10/10 [==============================] - 0s 668us/step
MSE 24: 36.26028060913086
10/10 [==============================] - 0s 959us/step
MSE 25: 34.59671401977539
10/10 [==============================] - 0s 973us/step
MSE 26: 37.02382278442383
10/10 [==============================] - 0s 956us/step
MSE 27: 33.36676025390625
10/10 [==============================] - 0s 846us/step
MSE 28: 30.232345581054688
10/10 [==============================] - 0s 842us/step
MSE 29: 35.198028564453125
10/10 [==============================] - 0s 778us/step
MSE 30: 34.619911193847656
10/10 [==============================] - 0s 1ms/step
MSE 31: 33.97964096069336
10/10 [==============================] - 0s 953us/step
MSE 32: 30.225296020507812
10/10 [==============================] - 0s 889us/step
MSE 33: 32.730709075927734
10/10 [==============================] - 0s 889us/step
MSE 34: 33.82404327392578
10/10 [==============================] - 0s 905us/step
MSE 35: 34.36322784423828
10/10 [==============================] - 0s 895us/step
MSE 36: 38.07405090332031
10/10 [==============================] - 0s 1ms/step
MSE 37: 32.073822021484375
10/10 [==============================] - 0s 889us/step
MSE 38: 35.447330474853516
10/10 [==============================] - 0s 917us/step
MSE 39: 32.99907684326172
10/10 [==============================] - 0s 890us/step
MSE 40: 28.975889205932617
10/10 [==============================] - 0s 946us/step
MSE 41: 34.78974533081055
10/10 [==============================] - 0s 836us/step
MSE 42: 32.19306182861328
10/10 [==============================] - 0s 1ms/step
MSE 43: 32.0108642578125
10/10 [==============================] - 0s 949us/step
MSE 44: 37.962493896484375
10/10 [==============================] - 0s 964us/step
MSE 45: 37.50679397583008
10/10 [==============================] - 0s 973us/step
MSE 46: 33.78178405761719
10/10 [==============================] - 0s 940us/step
MSE 47: 33.55097579956055
10/10 [==============================] - 0s 1ms/step
MSE 48: 32.755802154541016
10/10 [==============================] - 0s 679us/step
MSE 49: 35.09395980834961
10/10 [==============================] - 0s 889us/step
MSE 50: 35.18300247192383
10/10 [==============================] - 0s 961us/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 43.28156696128391
Standard Deviation: 24.722056441617276