## Build a Regression Model in Keras (D)

In [115]:
import pandas as pd
import numpy as np

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [116]:
df=pd.read_csv("concrete_data.csv")
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Let's check how many data points we have.

In [117]:
df.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. 
Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [118]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [119]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data is ready to be used to build our model.

### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [120]:
concrete_data_columns = df.columns
predictors = df[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = df['Strength']

Let's do a check of the predictors and the target dataframes.

In [121]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [122]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation

In [123]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [124]:
n_cols=predictors_norm.shape[1]
n_cols

8

### Import Keras

In [125]:
import keras

In [126]:
from keras.models import Sequential
from keras.layers import Dense

In [127]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The regression_model function creates a model that has three hidden layers with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [128]:
from sklearn.model_selection import train_test_split

Randomly splitting the data into a training and test sets by holding 30% of the data for testing

In [129]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### Train the Model

Let's create our model.

In [130]:
# build the model
model = regression_model()

Train the model on the training data using 50 epochs.

In [131]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 1ms/step - loss: 1609.5931
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 1593.9835
Epoch 3/50
23/23 [==============================] - 0s 938us/step - loss: 1584.8518
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 1578.0718
Epoch 5/50
23/23 [==============================] - 0s 939us/step - loss: 1570.6473
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 1559.8602
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 1542.3953
Epoch 8/50
23/23 [==============================] - 0s 991us/step - loss: 1513.2937
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 1465.9310
Epoch 10/50
23/23 [==============================] - 0s 975us/step - loss: 1395.2439
Epoch 11/50
23/23 [==============================] - 0s 978us/step - loss: 1295.8268
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 1165.9568
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 1004.7498
Epoch 14/50
23/23 [==============================] - 0s 967us/step - loss: 821.7413
Epoch 15/50
23/23 [==============================] - 0s 944us/step - loss: 637.4022
Epoch 16/50
23/23 [==============================] - 0s 857us/step - loss: 477.3819
Epoch 17/50
23/23 [==============================] - 0s 893us/step - loss: 359.4263
Epoch 18/50
23/23 [==============================] - 0s 804us/step - loss: 290.9265
Epoch 19/50
23/23 [==============================] - 0s 914us/step - loss: 252.0659
Epoch 20/50
23/23 [==============================] - 0s 882us/step - loss: 229.9523
Epoch 21/50
23/23 [==============================] - 0s 908us/step - loss: 215.8724
Epoch 22/50
23/23 [==============================] - 0s 812us/step - loss: 205.4464
Epoch 23/50
23/23 [==============================] - 0s 941us/step - loss: 198.2902
Epoch 24/50
23/23 [==============================] - 0s 898us/step - loss: 192.5563
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 187.6164
Epoch 26/50
23/23 [==============================] - 0s 830us/step - loss: 183.4672
Epoch 27/50
23/23 [==============================] - 0s 849us/step - loss: 179.5968
Epoch 28/50
23/23 [==============================] - 0s 848us/step - loss: 176.2729
Epoch 29/50
23/23 [==============================] - 0s 805us/step - loss: 173.3653
Epoch 30/50
23/23 [==============================] - 0s 801us/step - loss: 170.5259
Epoch 31/50
23/23 [==============================] - 0s 829us/step - loss: 168.1271
Epoch 32/50
23/23 [==============================] - 0s 848us/step - loss: 165.5437
Epoch 33/50
23/23 [==============================] - 0s 841us/step - loss: 163.2028
Epoch 34/50
23/23 [==============================] - 0s 849us/step - loss: 161.2214
Epoch 35/50
23/23 [==============================] - 0s 809us/step - loss: 159.3543
Epoch 36/50
23/23 [==============================] - 0s 910us/step - loss: 157.3459
Epoch 37/50
23/23 [==============================] - 0s 846us/step - loss: 155.6192
Epoch 38/50
23/23 [==============================] - 0s 849us/step - loss: 153.9650
Epoch 39/50
23/23 [==============================] - 0s 848us/step - loss: 152.3345
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 150.8864
Epoch 41/50
23/23 [==============================] - 0s 870us/step - loss: 149.5550
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 148.1711
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 147.0269
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 145.7790
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 144.7147
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 143.4067
Epoch 47/50
23/23 [==============================] - 0s 864us/step - loss: 142.1771
Epoch 48/50
23/23 [==============================] - 0s 852us/step - loss: 141.2849
Epoch 49/50
23/23 [==============================] - 0s 912us/step - loss: 140.1232
Epoch 50/50
23/23 [==============================] - 0s 861us/step - loss: 139.2151

Evaluate the model on the test data

In [132]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 861us/step - loss: 136.7079
10/10 [==============================] - 0s 887us/step

136.70785522460938

In [133]:
from sklearn.metrics import mean_squared_error

Compute the mean_squared_error between the predict concrete strength and the actual concrete strength

In [134]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

136.70785309304125 0.0

Create a list of 50 mean squared errors  and report mean and the standard deviation of the mean squared errors

In [135]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 97.59878540039062
10/10 [==============================] - 0s 962us/step
MSE 2: 65.70697784423828
10/10 [==============================] - 0s 1ms/step
MSE 3: 38.98126220703125
10/10 [==============================] - 0s 892us/step
MSE 4: 38.235198974609375
10/10 [==============================] - 0s 872us/step
MSE 5: 35.86898422241211
10/10 [==============================] - 0s 844us/step
MSE 6: 37.560211181640625
10/10 [==============================] - 0s 855us/step
MSE 7: 39.43671417236328
10/10 [==============================] - 0s 900us/step
MSE 8: 28.820817947387695
10/10 [==============================] - 0s 1ms/step
MSE 9: 28.759496688842773
10/10 [==============================] - 0s 836us/step
MSE 10: 28.850940704345703
10/10 [==============================] - 0s 917us/step
MSE 11: 29.306072235107422
10/10 [==============================] - 0s 966us/step
MSE 12: 26.53878402709961
10/10 [==============================] - 0s 1ms/step
MSE 13: 31.800338745117188
10/10 [==============================] - 0s 902us/step
MSE 14: 37.058372497558594
10/10 [==============================] - 0s 1ms/step
MSE 15: 32.3240966796875
10/10 [==============================] - 0s 1ms/step
MSE 16: 21.559349060058594
10/10 [==============================] - 0s 952us/step
MSE 17: 27.02590560913086
10/10 [==============================] - 0s 938us/step
MSE 18: 27.79444694519043
10/10 [==============================] - 0s 1ms/step
MSE 19: 24.069229125976562
10/10 [==============================] - 0s 1ms/step
MSE 20: 28.282428741455078
10/10 [==============================] - 0s 1ms/step
MSE 21: 26.621305465698242
10/10 [==============================] - 0s 1ms/step
MSE 22: 25.71778678894043
10/10 [==============================] - 0s 807us/step
MSE 23: 22.932119369506836
10/10 [==============================] - 0s 997us/step
MSE 24: 26.809326171875
10/10 [==============================] - 0s 1ms/step
MSE 25: 27.531658172607422
10/10 [==============================] - 0s 1ms/step
MSE 26: 29.959821701049805
10/10 [==============================] - 0s 1ms/step
MSE 27: 23.816926956176758
10/10 [==============================] - 0s 1ms/step
MSE 28: 25.889007568359375
10/10 [==============================] - 0s 1ms/step
MSE 29: 30.764514923095703
10/10 [==============================] - 0s 1ms/step
MSE 30: 25.687135696411133
10/10 [==============================] - 0s 886us/step
MSE 31: 23.957801818847656
10/10 [==============================] - 0s 963us/step
MSE 32: 20.587223052978516
10/10 [==============================] - 0s 789us/step
MSE 33: 23.390270233154297
10/10 [==============================] - 0s 1ms/step
MSE 34: 25.781394958496094
10/10 [==============================] - 0s 1ms/step
MSE 35: 26.840248107910156
10/10 [==============================] - 0s 851us/step
MSE 36: 29.341054916381836
10/10 [==============================] - 0s 1ms/step
MSE 37: 21.306791305541992
10/10 [==============================] - 0s 968us/step
MSE 38: 27.759706497192383
10/10 [==============================] - 0s 1ms/step
MSE 39: 25.191585540771484
10/10 [==============================] - 0s 1ms/step
MSE 40: 23.74437713623047
10/10 [==============================] - 0s 1ms/step
MSE 41: 26.25585174560547
10/10 [==============================] - 0s 884us/step
MSE 42: 23.911285400390625
10/10 [==============================] - 0s 918us/step
MSE 43: 25.193967819213867
10/10 [==============================] - 0s 1ms/step
MSE 44: 30.043376922607422
10/10 [==============================] - 0s 907us/step
MSE 45: 27.275257110595703
10/10 [==============================] - 0s 1ms/step
MSE 46: 26.613252639770508
10/10 [==============================] - 0s 1ms/step
MSE 47: 25.064477920532227
10/10 [==============================] - 0s 987us/step
MSE 48: 26.422597885131836
10/10 [==============================] - 0s 945us/step
MSE 49: 28.288297653198242
10/10 [==============================] - 0s 810us/step
MSE 50: 26.788230895996094
10/10 [==============================] - 0s 884us/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 30.101301075750815
Standard Deviation: 11.853356775998988