## Build a Regression Model in Keras (A)

In [47]:
import pandas as pd
import numpy as np

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [48]:
df=pd.read_csv("concrete_data.csv")
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Let's check how many data points we have.

In [49]:
df.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. 
Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [50]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [51]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data is ready to be used to build our model.

### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [52]:
concrete_data_columns = df.columns
predictors = df[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = df['Strength']

Let's do a check of the predictors and the target dataframes.

In [53]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [54]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation

In [55]:
n_cols=predictors.shape[1]
n_cols

8

### Import Keras

In [56]:
import keras

In [57]:
from keras.models import Sequential
from keras.layers import Dense

In [58]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The regression_model function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [59]:
from sklearn.model_selection import train_test_split

Randomly splitting the data into a training and test sets by holding 30% of the data for testing

In [60]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

### Train the Model

Let's create our model.

In [61]:
# build the model
model = regression_model()

Train the model on the training data using 50 epochs.

In [62]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 824us/step - loss: 19414.0645
Epoch 2/50
23/23 [==============================] - 0s 715us/step - loss: 7725.9146
Epoch 3/50
23/23 [==============================] - 0s 745us/step - loss: 5022.1963
Epoch 4/50
23/23 [==============================] - 0s 724us/step - loss: 4036.6816
Epoch 5/50
23/23 [==============================] - 0s 764us/step - loss: 3210.7761
Epoch 6/50
23/23 [==============================] - 0s 846us/step - loss: 2616.4370
Epoch 7/50
23/23 [==============================] - 0s 761us/step - loss: 2131.3640
Epoch 8/50
23/23 [==============================] - 0s 743us/step - loss: 1705.5974
Epoch 9/50
23/23 [==============================] - 0s 713us/step - loss: 1349.0486
Epoch 10/50
23/23 [==============================] - 0s 712us/step - loss: 1062.3718
Epoch 11/50
23/23 [==============================] - 0s 757us/step - loss: 837.3237
Epoch 12/50
23/23 [==============================] - 0s 752us/step - loss: 669.9548
Epoch 13/50
23/23 [==============================] - 0s 829us/step - loss: 552.9901
Epoch 14/50
23/23 [==============================] - 0s 744us/step - loss: 462.3030
Epoch 15/50
23/23 [==============================] - 0s 758us/step - loss: 403.2501
Epoch 16/50
23/23 [==============================] - 0s 758us/step - loss: 358.7785
Epoch 17/50
23/23 [==============================] - 0s 803us/step - loss: 328.8964
Epoch 18/50
23/23 [==============================] - 0s 804us/step - loss: 308.4254
Epoch 19/50
23/23 [==============================] - 0s 825us/step - loss: 292.2372
Epoch 20/50
23/23 [==============================] - 0s 757us/step - loss: 279.1554
Epoch 21/50
23/23 [==============================] - 0s 757us/step - loss: 269.2712
Epoch 22/50
23/23 [==============================] - 0s 759us/step - loss: 263.3073
Epoch 23/50
23/23 [==============================] - 0s 805us/step - loss: 253.7013
Epoch 24/50
23/23 [==============================] - 0s 757us/step - loss: 247.2598
Epoch 25/50
23/23 [==============================] - 0s 756us/step - loss: 241.4148
Epoch 26/50
23/23 [==============================] - 0s 758us/step - loss: 235.3255
Epoch 27/50
23/23 [==============================] - 0s 712us/step - loss: 229.6827
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 224.5629
Epoch 29/50
23/23 [==============================] - 0s 842us/step - loss: 220.3835
Epoch 30/50
23/23 [==============================] - 0s 718us/step - loss: 215.3340
Epoch 31/50
23/23 [==============================] - 0s 754us/step - loss: 211.7089
Epoch 32/50
23/23 [==============================] - 0s 758us/step - loss: 206.2373
Epoch 33/50
23/23 [==============================] - 0s 801us/step - loss: 202.6395
Epoch 34/50
23/23 [==============================] - 0s 694us/step - loss: 198.4253
Epoch 35/50
23/23 [==============================] - 0s 758us/step - loss: 195.6221
Epoch 36/50
23/23 [==============================] - 0s 894us/step - loss: 190.9177
Epoch 37/50
23/23 [==============================] - 0s 756us/step - loss: 188.0031
Epoch 38/50
23/23 [==============================] - 0s 769us/step - loss: 184.8217
Epoch 39/50
23/23 [==============================] - 0s 710us/step - loss: 183.8897
Epoch 40/50
23/23 [==============================] - 0s 760us/step - loss: 181.5492
Epoch 41/50
23/23 [==============================] - 0s 770us/step - loss: 179.7004
Epoch 42/50
23/23 [==============================] - 0s 798us/step - loss: 175.7793
Epoch 43/50
23/23 [==============================] - 0s 845us/step - loss: 172.3103
Epoch 44/50
23/23 [==============================] - 0s 802us/step - loss: 170.3608
Epoch 45/50
23/23 [==============================] - 0s 760us/step - loss: 167.6487
Epoch 46/50
23/23 [==============================] - 0s 712us/step - loss: 165.8819
Epoch 47/50
23/23 [==============================] - 0s 850us/step - loss: 163.7348
Epoch 48/50
23/23 [==============================] - 0s 782us/step - loss: 163.9970
Epoch 49/50
23/23 [==============================] - 0s 757us/step - loss: 160.8994
Epoch 50/50
23/23 [==============================] - 0s 851us/step - loss: 158.6909

Evaluate the model on the test data

In [63]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 167.0600
10/10 [==============================] - 0s 779us/step

167.0599822998047

In [64]:
from sklearn.metrics import mean_squared_error

Compute the mean_squared_error between the predict concrete strength and the actual concrete strength

In [65]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

167.05998933351555 0.0

Create a list of 50 mean squared errors  and report mean and the standard deviation of the mean squared errors

In [66]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 104.18278503417969
10/10 [==============================] - 0s 952us/step
MSE 2: 125.83443450927734
10/10 [==============================] - 0s 790us/step
MSE 3: 109.19379425048828
10/10 [==============================] - 0s 889us/step
MSE 4: 123.51887512207031
10/10 [==============================] - 0s 997us/step
MSE 5: 120.53270721435547
10/10 [==============================] - 0s 790us/step
MSE 6: 111.06792449951172
10/10 [==============================] - 0s 819us/step
MSE 7: 132.98875427246094
10/10 [==============================] - 0s 1ms/step
MSE 8: 99.1066665649414
10/10 [==============================] - 0s 804us/step
MSE 9: 120.43707275390625
10/10 [==============================] - 0s 977us/step
MSE 10: 113.0582046508789
10/10 [==============================] - 0s 819us/step
MSE 11: 105.82052612304688
10/10 [==============================] - 0s 852us/step
MSE 12: 105.24991607666016
10/10 [==============================] - 0s 949us/step
MSE 13: 117.01795196533203
10/10 [==============================] - 0s 842us/step
MSE 14: 118.87090301513672
10/10 [==============================] - 0s 1ms/step
MSE 15: 110.87650299072266
10/10 [==============================] - 0s 1ms/step
MSE 16: 106.66321563720703
10/10 [==============================] - 0s 776us/step
MSE 17: 108.1478042602539
10/10 [==============================] - 0s 1ms/step
MSE 18: 95.4780502319336
10/10 [==============================] - 0s 1ms/step
MSE 19: 96.83822631835938
10/10 [==============================] - 0s 1ms/step
MSE 20: 114.2021255493164
10/10 [==============================] - 0s 1ms/step
MSE 21: 96.7635269165039
10/10 [==============================] - 0s 845us/step
MSE 22: 103.35778045654297
10/10 [==============================] - 0s 942us/step
MSE 23: 107.55313110351562
10/10 [==============================] - 0s 784us/step
MSE 24: 104.83960723876953
10/10 [==============================] - 0s 947us/step
MSE 25: 109.06407928466797
10/10 [==============================] - 0s 863us/step
MSE 26: 98.495849609375
10/10 [==============================] - 0s 788us/step
MSE 27: 121.18873596191406
10/10 [==============================] - 0s 710us/step
MSE 28: 111.47669982910156
10/10 [==============================] - 0s 920us/step
MSE 29: 110.56735229492188
10/10 [==============================] - 0s 826us/step
MSE 30: 117.60310363769531
10/10 [==============================] - 0s 938us/step
MSE 31: 132.60797119140625
10/10 [==============================] - 0s 969us/step
MSE 32: 112.56587219238281
10/10 [==============================] - 0s 973us/step
MSE 33: 103.37105560302734
10/10 [==============================] - 0s 800us/step
MSE 34: 112.4872817993164
10/10 [==============================] - 0s 1ms/step
MSE 35: 115.82506561279297
10/10 [==============================] - 0s 1ms/step
MSE 36: 126.37158966064453
10/10 [==============================] - 0s 863us/step
MSE 37: 122.94230651855469
10/10 [==============================] - 0s 890us/step
MSE 38: 116.79269409179688
10/10 [==============================] - 0s 889us/step
MSE 39: 112.50338745117188
10/10 [==============================] - 0s 887us/step
MSE 40: 121.9034423828125
10/10 [==============================] - 0s 889us/step
MSE 41: 114.02503967285156
10/10 [==============================] - 0s 668us/step
MSE 42: 107.59105682373047
10/10 [==============================] - 0s 1ms/step
MSE 43: 111.16583251953125
10/10 [==============================] - 0s 925us/step
MSE 44: 109.3603744506836
10/10 [==============================] - 0s 894us/step
MSE 45: 110.09278869628906
10/10 [==============================] - 0s 1ms/step
MSE 46: 106.56490325927734
10/10 [==============================] - 0s 889us/step
MSE 47: 86.53712463378906
10/10 [==============================] - 0s 964us/step
MSE 48: 87.80540466308594
10/10 [==============================] - 0s 908us/step
MSE 49: 73.83544158935547
10/10 [==============================] - 0s 815us/step
MSE 50: 73.27413940429688
10/10 [==============================] - 0s 1ms/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 109.55238055004708
Standard Deviation: 12.21307971578228